*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1140px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 399px;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.result__video-container {
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-block-end: 5px;
}

.search-form__textfield {
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.search-form__pseudo-checkbox {
  cursor: pointer;
  display: block;
  block-size: 19px;
  inline-size: 19px;
  border: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: 700;
  padding: 6px;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  margin-block-end: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow: hidden scroll;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px auto;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow-wrap: break-word;
  margin-block-end: 6px;
}

.content__video-card-description {
  line-height: 90%;
}

.content__video-card-thumbnail {
  block-size: 103px;
  inline-size: 194px;
  object-fit: cover;
}

.more-button {
  inline-size: 100%;
}