*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 399px;
  align-items: end;
  column-gap: 30px;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.result__video-container {
  position: relative;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__textfield {
  border: none;
  border-inline-start: 1px solid transparent;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.3;
  background-color: transparent;
  appearance: none;
  inline-size: 225px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  block-size: 19px;
  inline-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after,
.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  block-size: 15px;
  inline-size: 15px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid #fff;
  padding: 5px;
  color: currentColor;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 193px;
}

.content__details {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: auto;
  block-size: 298px;
  scrollbar-width: thin;
  padding: 2px 2px 0 2px
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  padding: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  inline-size: 187px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-block-end: 6px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 0.9;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  block-size: 103px;
  min-inline-size: 194px;
}

.more-button {
  inline-size: 100%;
}